<div class="cover-container content-wrapper d-flex w-100 h-100 p-3 mx-auto flex-column">
  {{> navbar user=user}}

<h2 class="{{highschool.id}}">{{highschool.name}}</h2>
<p>Welcome to your alumni page! <br>
    Use this to talk to each other about a reunion, reminisce or share funny stories.</p>

<div class ="loginForm p-3 shadow-6 mb-3">
  <form action="/school/{{highschool.id}}/thread" method="POST" id="threadForm">
 
     
        <input id="title-input" name="title" type="text" placeholder="Title your post!"
          class="form-control form-control-underlined" requiredm autofocus>
          <input maxlength="255" id="thread-input" name="content" type="text" placeholder="Share your memories here!"
          class="form-control form-control-underlined"required>
          <small class="form-text text-muted">max length 255 characters</small>
           <input type="hidden" id="user_id-input" name="user_id" value="{{user.id}}">
   
        <button type="submit" id="threadsubmitButton"
          class="btn btn-lg btn-primary rounded-pill shadow-sm float-right float-md-none mt-3">Submit</button>
     
  </form>
  </div>


<div id = "threadResults">
{{#each thread}}

     <div class="card thread-card mb-4 shadow-6" id="{{highschool.name}}" >  
        <div class="card-body">
            <div class="lead text-center">{{this.title}}</div>
                  <div class="text-center">
                      {{this.content}}
                  </div>  
                  <a class="deleteLink" href="/school/{{highschool_id}}/thread/{{this.id}}">Delete</a>
            </div>
        </div>

      {{/each}}
</div>



  {{> footer user=user}}
</div>


  {{!-- {{#each thread}}
  <h4>{{this.title}}</h4>
  <p>{{this.content}}</p>
  <a href="#">Add Comment</a>
  {{/each}} --}}



